<main id="main-container">
  <!-- Hero -->
  <div class="bg-image" style="background-image: url('assets/media/photos/photo10@2x.jpg');">
    <div class="bg-primary-dark-op">
      <div class="content content-full text-center">
        <div class="my-3">
          <img class="img-avatar img-avatar-thumb" src="assets/media/avatars/avatar13.jpg" alt="">
        </div>
        <h1 class="h2 text-white mb-0">Edit Account</h1>
        <h2 class="h4 fw-normal text-white-75">
          John Parker
        </h2>
      </div>
    </div>
  </div>
  <!-- END Hero -->

  <!-- Page Content -->
  <div class="content content-boxed">
    <!-- User Profile -->
    <div class="block block-rounded">
      <div class="block-header block-header-default">
        <h3 class="block-title">User Profile</h3>
      </div>
      <div class="block-content">
        <form method="POST" enctype="multipart/form-data" (ngSubmit)="update()">
          <div class="row push">
            <div class="col-lg-4"></div>
            <div class="col-lg-8 col-xl-5">

              <div class="mb-4">
                <label class="form-label" for="one-profile-edit-username">Last name</label>
                <input
                  type="text"
                  class="form-control"
                  id="one-profile-edit-username"
                  name="one-profile-edit-username"
                  placeholder="Enter your last name.."
                  [(ngModel)]="userProfile.prenom">
              </div>

              <div class="mb-4">
                <label class="form-label" for="one-profile-edit-name">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="one-profile-edit-name"
                  name="one-profile-edit-name"
                  placeholder="Enter your name.."
                  [(ngModel)]="userProfile.nom">
              </div>

              <div class="mb-4">
                <label class="form-label" for="one-profile-edit-email">Email Address</label>
                <input
                  type="email"
                  class="form-control"
                  id="one-profile-edit-email"
                  name="one-profile-edit-email"
                  placeholder="Enter your email.."
                  [(ngModel)]="userProfile.email">
              </div>

              <div class="mb-4">
                <label class="form-label" for="one-profile-edit-phone">Phone Number</label>
                <input
                  type="tel"
                  class="form-control"
                  id="one-profile-edit-phone"
                  name="one-profile-edit-phone"
                  placeholder="Enter your phone.."
                  [(ngModel)]="userProfile.telephone">
              </div>

              <div class="mb-4">
                <label class="form-label" for="one-profile-edit-date">Date De naissance</label>
                <input
                  type="date"
                  class="form-control"
                  id="one-profile-edit-date"
                  name="one-profile-edit-date"
                  [(ngModel)]="userProfile.dateNaissance">
              </div>

              <div class="mb-4">
                <label class="form-label" for="one-profile-edit-adress">Address</label>
                <input
                  type="text"
                  class="form-control"
                  id="one-profile-edit-adress"
                  name="one-profile-edit-adress"
                  placeholder="Enter your address.."
                  [(ngModel)]="userProfile.adresse">
              </div>
              <div class="mb-4">
                <button onclick="update()" class="btn btn-alt-primary">
                  Update
                </button>
              </div>
            </div>
          </div>
        </form>








      </div>
    </div>
    <!-- END User Profile -->

    <!-- Change Password -->
    <div class="block block-rounded">
      <div class="block-header block-header-default">
        <h3 class="block-title">Change Password</h3>
      </div>
      <div class="block-content">
        <form  method="POST" onsubmit="return false;">
          <div class="row push">
            <div class="col-lg-4">
              <p class="fs-sm text-muted">
                Changing your sign in password is an easy way to keep your account secure.
              </p>
            </div>
            <div class="col-lg-8 col-xl-5">
              <div class="row mb-4">
                <div class="col-12">
                  <label class="form-label" for="one-profile-edit-password-new">New Password</label>
                  <input type="password" class="form-control" id="one-profile-edit-password-new" name="one-profile-edit-password-new">
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-12">
                  <label class="form-label" for="one-profile-edit-password-new-confirm">Confirm New Password</label>
                  <input type="password" class="form-control" id="one-profile-edit-password-new-confirm" name="one-profile-edit-password-new-confirm">
                </div>
              </div>
              <div class="mb-4">
                <button type="submit" class="btn btn-alt-primary">
                  Update
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- END Change Password -->
  </div>
  <!-- END Page Content -->
</main>
