

<!-- Sidebar -->
<div class="sidebar-o sidebar-dark sidebar-mini enable-page-overlay side-scroll page-header-fixed main-content-narrow">
  <nav id="sidebar" aria-label="Main Navigation">
    <div class="content-header">
      <!-- Logo -->
      <a class="fw-semibold text-dual" href="#">
        <span class="smini-visible">
          <i class="fa fa-circle-notch text-primary"></i>
        </span>
        <span class="smini-hide fs-5 tracking-wider">Hostelo</span>
      </a>
    </div>
    <div class="js-sidebar-scroll">
      <div class="content-side">
        <ul class="nav-main">
          <li class="nav-main-heading">Administration</li>
          <li class="nav-main-item">
            <a class="nav-main-link" routerLink="/dashboard">
              <i class="nav-main-link-icon si si-speedometer"></i>
              <span class="nav-main-link-name">Dashboard</span>
            </a>
          </li>
          <li class="nav-main-item">
            <a class="nav-main-link" routerLink="/customers">
              <i class="nav-main-link-icon si si-layers"></i>
            <span class="nav-main-link-name">Manage Users</span>
            </a>
          </li>
          <li class="nav-main-item">
            <a class="nav-main-link" routerLink="/check-in-out">
              <i class="nav-main-link-icon si si-check"></i>
              <span class="nav-main-link-name">CheckIn - CheckOut</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>


