.customer-page-container {
  display: flex;
  height: 100vh;

  .sidebar {
    width: 3%; // Adjust the width of the sidebar
    background-color: #2d353c; // Match your sidebar style
    height: 100vh;
    overflow-y: auto; // Ensure scrolling for sidebar content if needed
  }

  .main-content {
    margin-top: 60px;
    flex: 1; // Take up the remaining space
    padding: 1.5rem; // Add padding for the main content
    overflow-y: auto; // Prevent content overflow issues
    background-color: #f8f9fadb; // Match the main content background style
  }

  .customer-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: start;
  }
}
