/* Profile Icon */
.profile-icon {
    color: #090707;
    font-size: 1.2rem; /* Smaller icon size */
    cursor: pointer;
    padding: 0.5rem; /* Smaller padding for icon */
    border-radius: 50%;
    transition: background-color 0.2s;
  }
  
  .profile-icon:hover {
    background-color: rgba(184, 161, 161, 0.1);
  }
  