<div class="search-bar-container">
  <p-toolbar class="search-bar">
    <div class="p-toolbar-group-left">
      <p-calendar [(ngModel)]="dates" selectionMode="range" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" placeholder="Select Date Range" class="search-input"></p-calendar>
    </div>
    <div class="p-toolbar-group-right">
      <button pButton pRipple label="Search" icon="pi pi-search" class="p-button-primary search-btn" (click)="onSearch()"></button>
    </div>
  </p-toolbar>
</div>

<div class="hotel-cards-container">
  <div class="hotel-card" *ngFor="let room of rooms">
    <div class="hotel-left">
      <!-- Carousel for room photos -->
      <p-carousel [value]="roomPhotos[room.id]" [numVisible]="1" [numScroll]="1" [circular]="true">
        <ng-template pTemplate="item" let-image>
          <img [src]="image" alt="Room Image" class="carousel-image" />
        </ng-template>
      </p-carousel>
    </div>

    <div class="hotel-right">
      <h2 class="hotel-title">{{ room.numeroChambre }} - {{ room.type }}</h2>
      <div class="hotel-info">
        <span class="etat" [ngClass]="{'available': room.etat === 'DISPONIBLE', 'unavailable': room.etat !== 'DISPONIBLE'}">
          {{ room.etat }}
        </span>
      </div>
      <p class="description">{{ room.description }}</p>
      <div class="price-section">
        <span class="price">{{ room.prix }} EUR / nuit</span>
        <button class="cta-button">Afficher les tarifs</button>
      </div>
    </div>
  </div>
</div>
